@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Styling - General*/
html,
body {
  font-family: "Montserrat", sans-serif;
  color: #4d4d4d;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
  font-weight: 300;
}

a {
  text-decoration: none;
}
.button {
  border: 2px solid #ff6550;
  text-align: center;
  cursor: pointer;
  color: yellow;
  font-size: 28px;
  line-height: 28px;
  padding: 13px;
  border-radius: 30px;
  font-family: Georgia, serif;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: 0 0 17px black;
  transition: 1s ease-in-out;
  animation: pulse 3s ease-out infinite;
}
.button:hover {
  cursor: pointer;
  background-color: yelloW;
  color: #ff6550;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
}
/* Utility Classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.large {
  font-size: 1.25rem;
}

.txt-orange {
  color: #e9a075;
}

.display-1 {
  font-size: 4rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-round {
  border-radius: 20px;
}

.btn-dark {
  background: #e9a075;
  border: 1px solid #e9a075;
  color: #fff;
}

.btn-dark:hover {
  background: #d19069;
  color: #fff;
}

form label {
  display: inline-block;
  margin-bottom: 6px;
}

form .form-group {
  margin-bottom: 16px;
}

form .form-control {
  display: block;
  width: 100%;
  padding: 7px 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Mainheader */
#mainheader {
  background: radial-gradient(at 10% 10px, #e9a075, #fff, #fff);
  height: 100vh;
}

/* Navbar */
@media screen and (min-width: 769px) {
  .collapsible {
    width: 100%;
    display: none;
  }
}

#navbar {
  color: #fff;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: #4d4d4d;
}

#navbar .logo {
  float: left;
  padding-top: 16px;
  font-size: 25px;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  color: #d19069;
}

.navigation {
  position: fixed;
  top: auto;
  right: 5%;
  font-weight: bold;
  font-size: 1rem;
}
/* Showcase */
#showcase {
  padding: 80px 0;
}

.showcase-row {
  display: flex;
  padding: 150px 0;
  gap: 2rem;
}

.showcase-row-title p.large {
  padding-bottom: 15px;
}

/* Portfolio */
.bproject {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  gap: 6px;
}
#portfolio {
  padding: 80px 0;
  text-align: center;
}

#portfolio p {
  width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.portfolio-row {
  display: flex;
}

.portfolio-row img {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}
.project-text {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
  text-align: left;
}
.span-text-p {
  font-style: italic;
}

/* About Me */
#about {
  padding: 180px 0;
  text-align: center;
  background-color: aqua;
  border-radius: 57% 15% 59% 15%;
}

#about h2 {
  padding-bottom: 50px;
}

#about p {
  padding-bottom: 20px;
}
.project-text-aboutMe {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  font-style: inherit;
  font-size: medium;
  line-height: 2em;
  text-indent: 2em;
}
/*SKILLS*/
.skill-title {
  padding-bottom: 10px;
  text-align: center;
  padding-top: 80px;
}
.skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.skills-row-item {
  width: 30%;
}
.skill-icon{
  padding: 2px;  
}
.skill-icon:hover{
  transform: scale(1.5);
}

/* Contact */
#contact {
  padding: 80px 0;
}
.center {
  text-align: center;
}
.links {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
  align-content: stretch;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#contact h2 {
  text-align: center;
}

#contact p {
  width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.contact-row {
  display: flex;
  padding: 20px;
}

.contact-row-img {
  width: 50%;
}

.contact-row-img img {
  padding: 120px;
}

.contact-row-form {
  width: 50%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 70px;
}

.contact-row-form h4 {
  padding-bottom: 40px;
  text-align: center;
}

.contact-row-form button {
  width: 100%;
}
.clipboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}
.copy {
  text-align: center;
  display: flex;
  gap: 2%;
  padding-bottom: 30px;
  align-content: stretch;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-copy {
  position: relative;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid black;
  background: steelblue;
  transition: 0.5s ease-in-out;
  z-index: 1;
  font-weight: 700;
  overflow: hidden;
    border-color: steelblue;
    color: whitesmoke;
    /* *** */
    display: inline-block;
    clip-path: polygon(14px 0%, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
}

.btn-copy:hover {
  border-color: steelblue;
    color:steelblue;
    background: white;
}

/* Footer */
#mainfooter {
  text-align: center;
  padding: 30px;
}
